.lsr-body {
    //background-color:skyblue;
}
.lsr-wrapper {
    //background-color:white;
}
.lsr-nav {
    //background-color:#FBA100;
}
.lsr-over {
    //display: flex;
    //justify-content: center;
}
.lsr-imgText {
    display: flex;
    height: 20rem;
}
.aqua {
    //background-color: #6BBAA7;
}
.menu {
    border: 0px
}
footer {
    background-color: #222;
    padding: 80px 0px;
}

footer a {
    display:block;
}