.lsrBody {
    background-color:skyblue;
}
.lsrWrapper {
    display: flex;
    align-items: center;
}
.lsrNav {
    background-color:#FBA100;
}
.lsrOver {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}
.lsrPart {
    display: flex;
}
.lsrImgText {
    display: flex;
    height: 20rem;
}
.service {
    background-repeat: no-repeat;
    height: 15rem;
    text-shadow: 0px 3.2px 10px rgba(0, 0, 0, 0.84);
}
.service-1 {
    background-image:url(../Img/IMG_1564.jpeg);
    background-position:right;
}
.service-2 {
    background-image:url(../Img/IMG_1503.jpeg);
    background-position:right;
}
.service-3 {
    background-image:url(../Img/IMG_1481.jpeg);
    background-position:left;
}
.lsrBorder {
    border-radius: 15px;
    border-width: thin;
    border-color: black;
}
.aqua {
    //background-color: #6BBAA7;

}
.menu {
    border: 0px
}
footer {
    background-color: #222;
    padding: 80px 0px;
}
.serviceTxt {
    color: white;
    font-size: 5rem;
    margin:0;
}
footer a {
    display:block;
}
@include top-bar-unstack;

.title-bar {
    color:white;
}
.nav-wrapper {
    z-index: 0;
    background-color: #43a047;
}
.nav-wrapper li a {
    display: inline-flex;
    justify-content: center;
    color:white;
    font-size:20px;
    height:64px;
    align-items: center;
    z-index: 2;
}
.nav-wrapper .brand-logo {
    margin-left:5%;
    font-family: Roboto;
}
.projectfrank {
    display:none;
    z-index: 1;
}

.projects:hover .projectfrank {
    display:flex;
    flex-direction: column;
    flex-flow: column;
    position: relative;
    max-width: 102px;
    margin-top:0px;
    position:absolute;
    z-index: 1;

}

input-field col s6 {
    size:6rem;
}
.validate {
    text-decoration: none;
}
.wapper {
    display:flex;
    margin-left:12.5%;
    border: none;
    text-decoration: none;
}
.label {
    border:none;
}
.orbit-container {
    z-index: -1;
}
nav ul a:hover {
    background-color: transparent;
}
#dropdown1 li:hover {
    background-color: #1b5e20;
}
.navbar-inner, .navbar .btn-navbar {
    border:0px;
}
.no-b {
    border-top: none;
    border-right: none;
    border-left: none;
}
.parallax-container {
    z-index: -1;
    margin: 0;
}
